.idea
.env
.svn
export
*.sh
Dockerfile-*
docker-compose.override.yml
resources/*.xhb
src/test.php
src/app/vendor
src/data/budget.xhb
src/etc/local.ini
src/var/cache
src/var/tmp
src/var/log
src/var/sessions
src/tmp
src/ui/themes/modern/.sass-cache
src/ui/themes/modern/node_modules
src/app/tests/var
