.idea
.env
.sass-cache
.svn
dist
export
node_modules
/*.sh
Dockerfile-*
docker-compose.override.yml
resources/*.xhb
src/test.php
src/app/vendor
src/data/budget.xhb
src/etc/local.ini
src/var/cache
src/var/tmp
src/var/log
src/var/sessions
src/tmp
src/app/tests/var
