@import 'settings';

@import 'foundation-sites/scss/foundation';

@include foundation-everything;

@include foundation-button;
@include foundation-button-group;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-table;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

/*****************************************************************************/
/*                     HTML ELEMENTS                                         */
/*****************************************************************************/

table {
    @include table-hover;

    background-color: white;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-spacing: 2px;
    border-collapse: separate;
}

select {
    width: auto !important;
}

/*****************************************************************************/
/*                     GLOBAL                                                */
/*****************************************************************************/

.hidden {
    display: none !important;
}

span.mono {
    font-family: "courier new", courier, monospace;
}

.currency.number-pos {
    color: #44bb44;
}
.currency.number-neg {
    color: #bb4444;
}

.header-container {
    @include breakpoint(medium) {
        a {
            color: white !important;
            font-weight: normal;
        }
    }
    .title-bar {
        background-color: $topbar-background;

        .logo-container {
            width: 100%;

            a {
                color: white !important;
                float: right;
            }
        }
    }

    .top-bar {
        @include breakpoint(medium) {
            padding: 0;
        }

        li:hover {
           background-color: $primary-color;
        }
    //
        .top-bar-left > ul > li,
        .top-bar-right > ul > li {
    //        padding: 0.1rem 1rem;

            > a::before {
                content: " ";
                width: 24px;
                height: 24px;
                display: inline-block;
                position: relative;
                top: -1px;
                margin-right: 5px;
                vertical-align:middle;
                background-position: 0px 0px;
                background-repeat: no-repeat;
            }

            &.account-operations-links > a::before {
                background-position: 0px -3px;
                background-image: url(../images/hicolor_actions_24x24_hb-ope-show.png);
            }

            &.vehiclecost-link > a::before {
                background-image: url(../images/hicolor_actions_24x24_hb-rep-vehicle.png);
            }

            &.settings-links > a::before {
                background-image: url(../images/categories_24x24_gtk-preferences.png);
            }
        }
    }
}

.footer {
    background-color: $topbar-background;
    color: #fff;
    text-align: center;
    margin-top: 30px;

    p {
        margin: 0;
        padding:2px;
        line-height: 1em;
        font-size: x-small;
    }
}

.session-messages {
    margin-top: 0.5em;

    .message-info {
        @include callout($info-color);
    }
    .message-warn {
        @include callout($warning-color);
    }
    .message-error {
        @include callout($alert-color);
    }

    > div {
        margin-bottom: 0.5em !important;
    }
}

.session-messages, .content {
    @extend .row;
}

.back-link.bottom {
    margin: 2em 0;
}
.back-link a::before {
    display: inline-block;
    content: '«';
    margin-right: 5px;
}

.toolbar {
    @include flex-grid-row();

    form {
        margin-bottom: 0;

        > ul {
            margin: 0;

            > li {
                margin-top: .2em;
                display: inline-block;

                &.filter-container {
                    .filter-label {
                        display: inline-block;
                        margin-right: .4em;
                    }
                    .filter-input {
                        width: auto;
                        margin-right: 2em;
                    }
                }

                &:last-child {
                    float: right;
                    margin-right: 0;
                }
            }
        }
    }

    button {
        @include button();
    }
}

.chart .toolbar form > ul > li {
    float: none;
    display: block;
    margin-top: 0;
}

input[type='text'].search {
    padding-left: 26px;
    background: #fff url(../images/search.png) no-repeat no-repeat 6px 8px;
}

.custom-dropdown-area li {
    display: block !important;
}

.custom-dropdown-options {
    margin: 0;
}

.charts-container {
    @include flex-grid-column($columns:12);
}

.chart > .chart-body {
    @include flex-grid-row();

    .canvas-container {
        @include flex-grid-column($columns:8);

        position: relative;
        min-height: 300px;
        text-align: center;

        .no-data-message {
            position: absolute;
            top: 10%;
            left: 10%;
        }

        .loading-anim {
            content: " ";
            width: 130px;
            height: 130px;
            display: inline-block;
            position: absolute;
            top: 30%;
            left: 40%;
            background: transparent url(../images/loading-pie.gif) no-repeat no-repeat;
        }
    }

    .toolbar {
        .filter-label {
            @include flex-grid-column();
        }
        .filter-input .custom-dropdown-area {
            @include flex-grid-column($columns:8);
        }
    }

    .legend {
        @include flex-grid-column($columns:4);

        li {
            list-style: none;

            span.label-color {
                width: 10px;
                height: 10px;
                margin-right: 20px;
                display: inline-block;
            }
        }
    }

    &.toolbar-right {
        .canvas-container {
            @include flex-grid-column($columns:6);
        }

        .toolbar {
            @include flex-grid-column($columns:6);
        }
    }

    &.toolbar-top-right {
        .toolbar {
            float: right;
        }

        .canvas-container {
            clear: both;
        }
    }
}

/*****************************************************************************/
/*                     INIT                                                  */
/*****************************************************************************/

body.init-load {
    .content>div {
        margin-top: 10%;
        margin-bottom: 10%;
        text-align: center;
    }
}

/*****************************************************************************/
/*                     ACCOUNTS                                              */
/*****************************************************************************/

.accounts-table {
    thead th:not(:first-child) {
        text-align: center;
    }
    td.account-name {
        padding-left: 4em;
    }
    td.balance {
        text-align: right;
    }
}

td.date, td.currency {
    white-space: nowrap;
}

.account-summary {
    @include flex-grid-row();
    margin-bottom: 1em;

    .account-balance-summary {
        .label-value-group {
            @include flex-grid-column($columns:4);

            > label {
                line-height: 1.5;
            }
        }
    }
}

/*****************************************************************************/
/*                     OPERATIONS                                            */
/*****************************************************************************/

.account-operation-index #total-balance {
    float: right;
    margin: .4em;
}

.operations-table {
    td.info {
        padding-left: 24px;
        background-position: 2px 50%;
        background-repeat: no-repeat;
    }
    tr.paymode-ccard td.info {
        background-image: url(../images/hicolor_status_16x16_pm-ccard.png);
    }
    tr.paymode-check td.info {
        background-image: url(../images/hicolor_status_16x16_pm-check.png);
    }
    tr.paymode-cash td.info {
        background-image: url(../images/hicolor_status_16x16_pm-cash.png);
    }
    tr.paymode-xfer td.info {
        background-image: url(../images/hicolor_status_16x16_pm-transfer.png);
    }
    tr.paymode-intxfer td.info {
        background-image: url(../images/hicolor_status_16x16_pm-intransfer.png);
    }
    tr.paymode-dcard td.info {
        background-image: url(../images/hicolor_status_16x16_pm-dcard.png);
    }
    tr.paymode-repeatpmt td.info {
        background-image: url(../images/hicolor_status_16x16_pm-standingorder.png);
    }
    tr.paymode-epayment td.info {
        background-image: url(../images/hicolor_status_16x16_pm-epayment.png);
    }
    tr.paymode-deposit td.info {
        background-image: url(../images/hicolor_status_16x16_pm-deposit.png);
    }
    tr.paymode-fee td.info {
        background-image: url(../images/hicolor_status_16x16_pm-fifee.png);
    }
    tr.paymode-directdebit td.info {
        background-image: url(../images/hicolor_status_16x16_pm-directdebit.png);
    }

    tr.future {
        font-style: italic;
    }
}


.status-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
}

/*.status-icon.status-0 {
    background-image: url(..?);
}*/
.status-icon.status-1 {
    background-image: url(../images/hicolor_actions_16x16_hb-ope-cleared.png);
}
.status-icon.status-2 {
    background-image: url(../images/hicolor_actions_16x16_hb-ope-reconciled.png);
}
.status-icon.status-3 {
    background-image: url(../images/hicolor_actions_16x16_hb-ope-remind.png);
}
/*.status-icon.status-4 {
    background-image: url(../images/hicolor_actions_16x16_hb-ope-void.png);
}*/
